extends layout
block content
  div.my-3
    h1 #{username}
    if yours
      a(href='/users/' + userId + '/edit').btn.btn-info 変更
    //TODO 変更ボタンを作る
    p 勝ち: #{result.win}
    p 負け: #{result.lose}
    p あいこ: #{result.draw}
    p グー: #{result.gu}
    p チョキ: #{result.choki}
    p パー: #{result.pa}
    if yours
      a(href="/logout").btn.btn-info ログアウト
    //ぜひグラフでいろいろしたいね